# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.ipch
ProcessSuspending/.vs/ProcessSuspending/v15/.suo
ReadHeap/.vs/ReadHeap/v15/.suo
ReadHeap/ReadHeap/process_memory/SharedMemory (RO).txt
ReadHeap/ReadHeap/process_memory/ProcessHeap.txt
ReadHeap/ReadHeap/Debug/ReadHeap.log
ReadHeap/ReadHeap/x64/Debug/ReadHeap.log
ReadHeap/ReadHeap/x64/Debug/ReadHeap.tlog/CL.command.1.tlog
ReadHeap/ReadHeap/x64/Debug/ReadHeap.tlog/CL.read.1.tlog
ReadHeap/ReadHeap/x64/Debug/ReadHeap.tlog/CL.write.1.tlog
ReadHeap/ReadHeap/x64/Debug/ReadHeap.tlog/link.command.1.tlog
ReadHeap/ReadHeap/x64/Debug/ReadHeap.tlog/link.read.1.tlog
ReadHeap/ReadHeap/x64/Debug/ReadHeap.tlog/link.write.1.tlog
ReadHeap/ReadHeap/x64/Debug/ReadHeap.tlog/ReadHeap.lastbuildstate
ReadHeap/ReadHeap/x64/Debug/vc141.idb
ReadHeap/ReadHeap/x64/Debug/vc141.pdb
ReadHeap/x64/Debug/ReadHeap.ilk
ReadHeap/x64/Debug/ReadHeap.pdb
SysInfo/SysInfo/Debug/SysInfo.log
SysInfo/SysInfo/Debug/sysinfo.obj.enc
SysInfo/SysInfo/Debug/SysInfo.tlog/CL.command.1.tlog
SysInfo/SysInfo/Debug/SysInfo.tlog/CL.read.1.tlog
SysInfo/SysInfo/Debug/SysInfo.tlog/CL.write.1.tlog
SysInfo/SysInfo/Debug/SysInfo.tlog/link.command.1.tlog
SysInfo/SysInfo/Debug/SysInfo.tlog/link.read.1.tlog
SysInfo/SysInfo/Debug/SysInfo.tlog/link.write.1.tlog
SysInfo/SysInfo/Debug/SysInfo.tlog/SysInfo.lastbuildstate
SysInfo/SysInfo/Debug/vc141.idb
SysInfo/SysInfo/Debug/vc141.pdb
